* {
  box-sizing: border-box;
  font-family: "Sofia", sans-serif;
}

:root {
  --width-card: 130px;
  --height-card: 170px;
}

body {
  background-image: linear-gradient(rgba(2, 0, 9, 0.4), rgba(2, 0, 9, 0.4)),
    url("./../images/bg-2.jpg");
  margin: 0;
  background-size: cover;
  position: static;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

#home.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

span {
  font-size: 36px;
  color: #fff;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  color: #fff;
  min-width: 15rem;
}

.btn-primary {
  background-color: rgba(0, 56, 255, 0.6);
  border-color: rgba(0, 56, 255, 0.6);
  box-shadow: 0px 0px 5px 2px rgba(0, 209, 255, 0.5);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 209, 255, 0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 209, 255, 0.5);
}

.btn-secondary {
  background-color: rgba(255, 0, 212, 0.6);
  border-color: rgba(255, 0, 212, 0.6);
  box-shadow: 0px 0px 10px 3px rgba(140, 0, 255, 0.5);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(140, 0, 255, 0.5);
  -moz-box-shadow: 0px 0px 10px 3px rgba(140, 0, 255, 0.5);
}

.btn-small {
  font-size: 1.2rem;
  min-width: 10rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 2rem 0;
}

.header .options {
  display: flex;
  margin-left: auto;
  gap: 1rem;
  flex-wrap: wrap;
}

.container {
  height: 100vh;
  max-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 0 1.2rem;
}

.timer.danger {
  color: #aa0000;
}

.statistics {
  margin-top: 1.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  gap: 1rem;
  margin: auto;
}

.cards.medium {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.cards.hard {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.card-box {
  width: 100%;
  height: var(--height-card);
}

.card-box:hover {
  cursor: pointer;
}

.rotate-card {
  transform: rotateY(180deg);
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.face {
  border-radius: 1rem;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: var(--height-card);
}

.face.face-back {
  transform: rotateY(180deg);
}

.face.face-back img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.face.face-front .coverage {
  border-radius: 0.5rem;
  width: 100%;
  height: var(--height-card);
  padding: 0.5rem;
  background-color: rgba(0, 56, 255, 0.7);
  box-shadow: 0px 0px 5px 2px rgba(0, 209, 255, 0.5);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 209, 255, 0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 209, 255, 0.5);
}

.face.face-front .coverage .coverage-inside {
  width: 100%;
  border: 1px solid #ffdbdb;
  border-radius: 0.2rem;
  height: 100%;
}

/* modal styles */

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
  min-height: 100vh;
  min-width: 100vw;
}

.modal,
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 0.8rem;
  max-width: 30rem;
  width: 85%;
  background-color: #020202;
  padding: 35px 25px;
  position: relative;
  gap: 1.2rem;
  flex-direction: column;
  box-shadow: 0px 0px 5px 2px rgba(0, 209, 255, 0.5);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 209, 255, 0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 209, 255, 0.5);
}

.modal-content .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal-content .buttons a {
  width: auto;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 1024px) {
  .cards {
    max-width: 60%;
  }
  .cards.medium,
  .cards.hard {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  :root {
    --height-card: 160px;
  }

  .btn {
    font-size: 1.2rem;
    height: 40px;
    padding: 0.3rem;
    min-width: 150px;
  }

  .header {
    padding: 1rem 0;
  }

  .cards.hard {
    --height-card: 130px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .cards.medium {
    --height-card: 140px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .statistics {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  :root {
    --height-card: 90px;
  }

  .cards.medium {
    --height-card: 80px;
  }
  .cards.hard {
    --height-card: 70px;
  }
  .header {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .header .options {
    margin-left: 0;
  }
}
